body{
    margin:0;
    background: rgb(164, 49, 68);
}

#app{
    display: grid;
    grid-template-columns: repeat(auto-fill,200px);
    padding: 24px;
    gap:24px;
}
.note{
    height: 200px;
    box-sizing: border-box;
    padding:16px;
    border: none;
    border-radius: 10px;
    background-color: pink;
    box-shadow: 0 0 7px rgba(0,0,0,0.15);
    resize: none;
    font-family: cursive;
    font-size: 16px;
}
.add-note{
    height: 40px;
    width: 40px;
    background-color: pink;
    border-radius: 10px;
    border: none;
    border-radius: 10px;
    background-color: pink;
    box-shadow: 0 0 7px rgba(0,0,0,0.15);
    transition: background 0.2s;
    font-size: 20px;
}
.add-note:hover{
    background-color: rgb(164, 49, 68);
} 
